@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Neuton:wght@200;400&display=swap');

html {

}

body {
    margin: 0; 
    font-family: 'Neuton', serif;
    background:  whitesmoke; /*bom para leitura em vez do branco*/

}

h1 {
    text-align: center; 
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 60px;
    letter-spacing: 8px; 
}

.loader { 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background: rgba(255,255,255,0.8) /* toda a pagina   */
}
.form-search label {
    font-size: 2rem;
}
input[type=text] {
    padding: 10px;
    border:0;
    border-bottom:1px solid #eee;
    border-radius:10px;
    font-family:inherit;
    font-size: inherit;
    
}
input[type=text]:focus {
    box-shadow:  0 0 15px 4px rgba(0,0,0,0.06);
    
}
.loader img {
    position: fixed;
    top: 50% ; 
    left: 50%;
    transform: translate(-50%, -50%); /* centraliza exatamente a img no centro, em vez de somente na ponta */
}
/* Image  */ 

.image-container {
    margin: 30px 35%;
    
}
.image-container img {
    width: 100%;
    margin-top: 7px;
}

/*Media Query: Large Smartfone*/

@media screen and (max-width: 640px) {
    h1 {
        font-size: 30px;
    }
    .image-container {
        margin: 10px 10%;
        
    }

}
